Q1

We can comment in two ways either using hastag or starting and ending with 3 double or single qoutes
There can be two types of comments, 
#single line usng hashtag and more than one line using

"""three single qoutes
or three double qoutes """

Q2

Varaibles store data, they can be of any type- string, integers
boolean, float, etc. 
example :

In [1]:
a = "i am learning python"

In [2]:
type(a)

str

this was an example of string

Q3 

We can convert datatypes using typecasting for example 
a string can be converted to integer. 
input() functions stores value as a string but int converterts to integer

int(input())

Q5

my_list = [1, 2, 3, 4, 5]

In [9]:
my_list = [1, 2, 3, 4, 5]

sub_list = my_list[1:3]
sub_list

[2, 3]

Q6

Complex number is the unversal set of all numbers that exist in the universe. I maths they are represented as (a+bi) while in programming they are represented as (a+bj) where b = imaginary part and a = real part and j means iota

Q7

In [15]:
Age = 25
Age

25

Q8

In [16]:
price = 9.99 
type(price)

float

Q9

In [18]:
name = "Madiha Tahreem"
name

'Madiha Tahreem'

Q10

In [26]:
str = "Hello, World!"

a = str[7:12]
a

'World'

Q11

In [46]:

is_student = True

In [47]:
10%3

1

In [48]:
x = 5

y = 2

 

if x > y:

print("x is greater than y")

elif x < y:

print("x is less than y")

else:

print("x is equal to y")

IndentationError: expected an indented block after 'if' statement on line 7 (3473910652.py, line 9)

In [55]:
for i in range(5):
    if i == 2:
        continue
        print(i)